body {
  min-height: 100vh;
  overflow-y: auto;
  background-color: #fbf6f6;
}

#root {
  border-radius: 0.3em;
  margin: 16px;
  padding: 16px;
  background-color: #fff;
}

.question {
  overflow-x: hidden;
  overflow-y: auto;
}

.question h6 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 14px;
}

pre[class^="language-"] {
  margin: 16px 0;
}

pre[class^="language-"] + ul li {
  line-height: 24px;
}

summary {
  margin-top: 16px;
  margin-bottom: 8px;
  cursor: pointer;
}
details, summary {
  outline: none;
}

details p {
  line-height: 24px;
}

.notify {
  position: fixed;
  right: 16px;
  bottom: 160px;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 0.3em;
  background-color: #fff;
  box-shadow:  0 0 2px 0 #dbbef3;
}

.actions .action {
  position: fixed;
  bottom: 60px;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, .3);
  color: #fff;
  text-align: center;
}

.action.prev {
  left: 115px;
}

.action.next {
  right: 115px;
}

.message {
  position: absolute;
  top: -50px;
  margin: 0 auto;
  padding: 10px 16px;
  background: rgba(0, 0, 0, .6);
  color: #FFF;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 1px 0 #000;
  border-radius: 0.3em;
  opacity: 0.8;
  transition: all 1s;
  font-size: 12px;
}

.message.finish {
  top: 16px;
  opacity: 1;
}